<div class="container">
<div class="m-3">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
       <button class="btn btn-primary">Confirmation</button>
       <a routerLink="/post" class="btn btn-link">Close</a>
     </div>

 </div>
